* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f356de, #ebc139); 
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background:white;
}

form button{
    color: #f356de; 
    background:white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background:#ebc139;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin:0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}
.trash-btn,
.complete-btn{
    background: rgb(223, 53, 53);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(20, 196, 43);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
